body {
  background-color: #a362ea;
}

.timer-box {
  margin: 100px auto;
  width: 800px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.inputBox {
  position: relative;
  width: 400px;
}

.inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: transparent;
  /* margin-bottom: 30px; */
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.inputBox input:focus,
.inputBox input:valid {
  color: #fff;
  transition: 0.8s;
}

.inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #21ebff;
  font-size: 12px;
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-left: 50px;

  /* width: 150px;
  position: relative;
  background: rgba(10, 44, 75, 0.4);
  border: none;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer; */

  position: relative;
  padding: 15px 30px;
  /* margin: 0 15px; */
  width: 150px;
  background: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);

  color: #21ebff;
  /* filter: hue-rotate(115deg); */
  /* filter: hue-rotate(270deg); */
}

.button:hover {
  background: #21ebff;
  color: #fff;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.button:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.button:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

/* .button:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.button span {
  position: absolute;
  display: block;
}

.span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.button:hover .span1 {
  left: 100%;
  transition: 1s;
}

.span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.button:hover .span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.button:hover .span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.button:hover .span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
} */

.timer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 10px;
  justify-content: center;
}

.field:first-child .value::before {
  content: '';
}

.value {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21ebff;
}

.value::before {
  content: ':';
  margin-right: 10px;
  margin-bottom: 10px;
  color: #21ebff;
}

.label {
  display: none;
}

.light {
  /* textshadow-: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; */
  text-shadow: 0 0 50px #21ebff;
}
